* {
  box-sizing: border-box;
}

body {
  font: 300 100% 'Helvetica Neue', Helvetica, Arial;
  background: #eeeee4;
  margin-left: 200px;
  margin-right: 200px;
}

.container {
  width: 50%;
  margin: 0 auto;
  margin-left 20px;
}

ul li {
  display: inline;
  text-align: center;
}

a {
  display: inline-block;
  width: 25%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}

.two:hover ~ hr {
  margin-left: 25%;
}

.three:hover ~ hr {
  margin-left: 50%;
}

.four:hover ~ hr {
  margin-left: 75%;
}

hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  background: #e28743;
  border: none;
  transition: .3s ease-in-out;
}

p {
  color: #21130d;
  animation-name: paragraph_slide;
  animation-duration: 2s;
}

@keyframes paragraph_slide {
  0%   { left:0px; top:0px;}
  25%  { left:0px; top:0px;}
  50%  { left:0px; top:0px;}
  75%  { left:0px; top:0px;}
  76%  { left:0px; top:0px;}
  100% { left:0px; top:0px;}
  
  
h1 {
  font-weight: bold;
  text-decoration:underline;
  text-decoration-color: #154c79;
  
}
h4 {
  color: lightpink;
  font-weight: bolder;
  text-decoration-line: underline;
}

img{
  border-color: #063970;
  border-style: solid;
  border-radius: 7px;
  float: right;
  width: 100px;
}
